<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.canton.dao.mapper.UserMapper" >
    <resultMap id ="UserInfoMap" type="com.canton.dao.entity.User">
        <result column="loginname" property="loginname"/>
        <result column="password" property="password"/>

    </resultMap>

    <!--<select id = "queryAllUsers" resultMap="UserInfoMap">-->
    <select id = "queryAllUsers" resultType= "com.canton.dao.entity.User">

        select
          name_,
          sex,
          age,
          class_no
        from
          tbl_user

    </select>



</mapper>